
  .main-title {
    color: #333;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
  }
  .top-bar-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0 1px 1px 0 #bcd6f9;

} 

.logo-and-titles {
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 10px;
}
.add-employee-form {
    max-width: 600px;
    margin: 100px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field input {
    font-size: 16px;
    padding: 12px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #68b1e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

button[type="submit"]:hover {
    background-color:#68b1e8;
}

mat-datepicker-toggle {
    margin-right: 8px;
}

.mat-datepicker-toggle-default-icon {
    font-size: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #1976d2;
}

.mat-error {
    font-size: 12px;
    color: red;
}
.employee-subtitle {
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold; 
    margin: 20px 0; 
  }
