.employee-table-container {
    padding: 16px;
  }
  .employee-subtitle {
    color: #182230;
    font-family: "Roboto-ExtraBold", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
  }
  
  .number-of-employee {
    color: #727272;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  
  .btn-create {
    margin-right: 4px;
  }
  
  .employee-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 14px;
  
  }
  
  .employee-table {
    width: 100%;
    border: none;
    color: #6F6F6F;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
  
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 16px;
  }
  
  .search-field {
    width: 300px; 
  }
  
  .search-icon {
    width: 20px; 
    height: 20px;
    margin-right: 8px; 
    margin-bottom:8px;
  }
 
  
  input[matInput] {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  button[mat-raised-button] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: hsl(207, 81%, 75%);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button[mat-raised-button]:hover {
    background-color: hsl(208, 14%, 65%);
  }
  
  button[mat-raised-button]:focus {
    outline: none;
    box-shadow: 0 0 10px  hsl(207, 81%, 75%);
  }
  mat-form-field {
    flex: 1;
    margin-right: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  mat-header-cell, mat-cell {
    padding: 8px;
  }
  
  mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  mat-row:hover {
    background-color: #e0f7fa;
  }
  
  mat-paginator {
    margin-top: 16px;
  }


.employee-table-content {

  height: 86px;
  vertical-align: middle;
  border: none;
  max-width: 200px;
  margin: 0 5px;
  padding-right: 18px;

}

.employee-table tr.mat-row:hover {
  background-color: #F1F6FA;
}

.table-container {
  margin-top: 16px;
}

.text-container {
  position: relative;
}



.delete-icon {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/icons/delete.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.1s;
  
  
    &:hover {
      background-image: url("../../../assets/icons/deleteSelected.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
   border-bottom-style: none;
  }

.btn-create {
  margin-right: 4px;
}


.employee-table {
  width: 100%;
  border: none;
  color: #6F6F6F;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

}


.main-container {
  height: 100%;
  overflow:auto;
}

.main-title {
  color: #333;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.feature-container {
  background-color: #FFF;
  margin-top: 22px;

}

.table-container {
  margin-top: 16px;
}



.top-bar-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0 1px 1px 0 #bcd6f9;

}

.logo-and-titles {
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 10px;
}

.router-outlet-container{
    height: calc(100vh - 94px);
    width: calc(100% - 280px);
    padding-left: 45px;
}




